<h2>我发布的教程</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>顶</th>
      <th>踩</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td>
          <%= render_account_tutorial_status(tutorial) %>
          <%= link_to(tutorial.title, account_tutorial_path(tutorial)) %>
        </td>
        <td>
          <%= tutorial.get_upvotes.size %>
        </td>
        <td>
          <%= tutorial.get_downvotes.size %>
        </td>
        <td>
          <%= link_to("编辑", edit_tutorial_path(tutorial), class:"btn btn-xs btn-primary")%>
          <% if !tutorial.checked %>
            <%= link_to("删除", tutorial_path(tutorial), method: :delete, class:"btn btn-xs btn-danger")%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
