<div class="panel-heading">
	<%= render_account_show_tutorial_status(@tutorial) %><span class="pull-right"><%= link_to("编辑", edit_tutorial_path(@tutorial), class: "btn btn-sm btn-success") %></span>
	<div class="panel-title">
		<h3> <%= @tutorial.title %> </h3>
	</div>
</div>
<div class="panel-body">
	<div class="row">

		<div class="col-md-4">
				<%= render "tutorials/image_and_description_show" %>
		</div>

			<div class="TutorialShow col-md-8">
				<div class="row">


				<div class="PreviewPic">
					<% if @tutorial.image.present? %>
						<img src="<%= @tutorial.image.medium.url%>" >
					<% else %>
					 <img src="http://placehold.it/500x300&text=Toptorial" >
					<% end %>
				</div>
				<!-- 显示图片 -->
				<h2> <%= @tutorial.title %> </h2>
				<div class="line"></div>

				<div class="contentShow"><%= markdown(@tutorial.content) %></div>


				<!-- 全文 -->


				<div class="newcomment">
					<%= simple_form_for [@tutorial, @comment] do |f| %>
					<fieldset class="form-group">
						<%= f.input :post, :label => "回复", placeholder: "输入内容"%>
					</fieldset>
					<%= f.submit "发送", class: "button btn btn-sm btn-success",  data: { disable_with:"发送中..."} %>
					<% end %>
				<!-- 可以发表评论 -->
				</div>
				<div class="BlockTitle">
					<h2 class="BlockTitle-title">收到的评论</h2>
					<span class="BlockTitle-line"></span>
				</div>
				<div class="comments">

					<div class="comment">
					 <%= render :partial => "comments/comments", :collection => @comments, :as => :comment %>
					 <!-- 显示评论 -->
					</div>
				</div>
			</div>


			</div>
		</div>
	</div>
<!-- panel-body -->
