<div class="container-fluid">
  <div class="row card">
    <div class="avatar text-center">
      <img src= "<%= render_user_avatar_thumb(@user, 200) %>">
      <h1><%= @user.display_name %></h1>
      <p class="user_description"><%= @user.description %></p>
      <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        找我答疑
      </button>
      <div class="user_total_votes">
        共收到<%= user_total_votes %>个顶
      </div>
    </div>
    <div class="container col-xs-12 col-sm-12 col-md-12">
      <div class="collapse" id="collapseExample">
        <div class="well">
          <div class="row">
            <% if @user.answers.present? %>
              <%= render @user.answers %>
            <% else %>
              他/她还没开通答疑服务
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-xs-12 col-sm-12 col-md-12">
      <div class="BlockTitle">
        <h2 class="BlockTitle-title">他的教程</h2>
        <span class="BlockTitle-line"></span>
      </div>
        <%= render @user.tutorials.checked %>
    </div>
  </div>
</div>
