<%= simple_form_for @tutorial do |f| %>

<%= f.input :title, :label =>"标题" %>
<%= f.input :content, :label =>"正文内容" %>
<p class="Littlenotice">推荐使用markdown 进行写作，<a href="https://sspai.com/post/25137">了解 markdown</a>。</p>
<% if @tutorial.image.present? %>
   <%= image_tag(@tutorial.image.thumb.url) %>
<% end %>
<%= f.input :image, as: :file, :label =>"封面图片" %>
<%= f.input :description, :label =>"内容简介" %>
<%= f.input :price, input_html: { type: 'number', min: 0 }, as: :radio_buttons, collection: ["免费", "9积分"], :label =>"价格"%>
<%= f.submit "保存", class: 'btn btn-default'  %>
<% end %>

<%= render "simplemde" %>
<%= render "photos" %>
