<%= simple_form_for @tutorial do |f| %>

<%= f.input :title, :label =>"标题" %>
<%= f.input :content, :label =>"正文内容" %>
<p class="Littlenotice">推荐使用markdown 进行写作，<a href="https://sspai.com/post/25137">了解 markdown</a>。</p>
<% if @tutorial.image.present? %>
   <%= image_tag(@tutorial.image.thumb.url) %>
<% end %>
<%= f.input :image, as: :file, :label =>"封面图片" %>
<%= f.input :description, :label =>"内容简介" %>
<img id="coin" src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/128/Retro-Coin-icon.png" alt="coin"  width="16px" height="16px" style="margin-top:18px;float:left;">
<%= f.label :price, label: "价格" %><br />
<%= f.collection_radio_buttons :price, [[0, '免费'] ,[9, '9元']], :first, :last %><br />

<%= f.submit "保存", class: 'btn btn-default'  %>
<% end %>

<%= render "simplemde" %>
<%= render "photos" %>
