<div class="container-fluid">
  <div class="row">
    <div class="index-part-1">
      <div class="lp-block-1">
          <h1>让知识有价值</h1>
        <h2>与更多的人分享你的知识和技能</h2>
        <div>
          <%= link_to("开始写教程", new_tutorial_path, class:"lp-block-1-button") %>
        </div>
      </div>
    </div>

    <nav class="subnavbar navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">最新 </a></li>
            <li><a href="#">最热</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">其他</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="index-part-3">
  <div class="container">
      <div class="row">
        <% @tutorials.each do |tutorial| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail tutorialcard">
            <a href="<%= tutorial_path(tutorial) %>">
              <% if tutorial.image.present? %>
                <img src="<%= tutorial.image.medium.url%>" >
              <% else %>
               <img src="http://placehold.it/500x300&text=Toptorial" >
              <% end %>

            <div class="caption">
              <h3><%= link_to(tutorial.title, tutorial_path(tutorial)) %></h3>
              <span class="creator"><%= link_to(tutorial.user.display_name, user_path(tutorial.user))  %></span>
              <div class="vote">
                <p><a href="<%= tutorial_path(tutorial) %>" class="btn btn-danger" role="button"><i class="fa fa-hand-o-up" aria-hidden="true"></i> 顶 <%= tutorial.get_upvotes.size %></a>
                  <a href="<%= tutorial_path(tutorial) %>" class="btn btn-default" role="button"><i class="fa fa-hand-o-down" aria-hidden="true"></i> 踩 <%= tutorial.get_downvotes.size %></a>
                </p>
              </div>

            </div>
          </div>
        </div>
        <% end %>
      </div>



  </div>
</div>


  </div>
  <!-- row -->
</div>
<!-- container -->
