<div class="container">
	<div class="row-fluid">
    <h1> <%= @tutorial.title %> </h1>
    <div class="col-md-10" style="float: center;">
			<% if @tutorial.image.present? %>
				<%= image_tag(@tutorial.image.thumb.url, class: "thumbnail") %>
			<% else %>
				<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
			<% end %>
			<% if current_user && current_user.is_buyer?(@tutorial) || current_user == @tutorial.user %>
    		<p><%= markdown(@tutorial.content) %></p>
  		<% else %>
			<div class="preview">
				<p><%= @tutorial.description %></p>
			</div>
				<%= link_to("查看教程", buy_tutorial_path(@tutorial), method: :post, class: "btn btn-default",  :data => { :confirm => "确认购买?"} ) %>
	 		 <% end %>
			 <div class="comment">
				<%= render :partial => "comments/comments", :collection => @comments, :as => :comment %>
				<%= simple_form_for [@tutorial, @comment] do |f| %>
				<fieldset class="form-group">
					<%= f.input :post, :label => "回复", placeholder: "输入内容"%>
				</fieldset>
				<%= f.submit "发送", class: "button btn btn-sm btn-danger",  data: { disable_with:"发送中..."} %>
				<% end %>
			 </div>
			 <!-- comment -->
    </div>
  </div>
</div>
