<div class="panel-heading">
  <div class="panel-title">
    <h3>答疑服务<span><%= link_to("新建答疑服务", new_account_answer_path, class: "btn btn-success pull-right") %></span></h3>
  </div>
</div>



<div class="panel-body">
  <div class="container-fluid">
    <% @answers.each do |answer| %>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><%= answer.title %>
                <span class="pull-left" style="font-size:10px; margin-right:10px;">(已上架)</span>
              <span class="pull-right" style="font-size:15px">
              <img id="coin-mini" src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/128/Retro-Coin-icon.png" alt="coin"   width="15px" height="15px"> × <%= answer.price %></span>

            </h3>
          </div>
          <div class="panel-body">
            <p><%= answer.description %></p>
            <div style="padding:10px; float:right;">
              <%= link_to("删除",
                           account_answer_path(answer),
                          class: "btn btn-default btn-sm", method: :delete, :data => { :confirm => "确认删除?" }) %>
              <%= link_to("编辑",
                          edit_account_answer_path(answer),
                          class: "btn btn-primary btn-sm") %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="panel-heading">
  <div class="panel-title">
    <h3>收到的订单</h3>
  </div>
</div>
<div class="panel-body">
  <div class="container-fluid">
    <% @orders.each do |order| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              单号：<%= link_to(order.token, account_order_path(order.token)) %>

              <span class="pull-right" style="font-size:10px"><img id="coin-mini" src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/128/Retro-Coin-icon.png" alt="coin"   width="15px" height="15px"> ×<%= order.total %></span>
            </h3>
          </div>
          <div class="panel-body">
            <p><%= order.question  %></p>
            他的联系方式：</br>
            <p><%= order.contact  %></p>
            <%= render "account/orders/state_option", order: order %>
          </div>
        </div>
      <% end %>

  </div>
</div>
