<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-4 col-lg-offset-1">
      <%= form_tag '/photos', method: :post, class: 'dropzone form', id: 'media-dropzone' do %>
        <div class="fallback">
          <%= file_field_tag 'media', multiple: true %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="well">
        <h4><b>Media</b></h4><hr>
        <div class="row">
          <div class="col-lg-10">
            <%= form_tag '/delete_media', method: :delete do %>
              <%= submit_tag 'Delete', id: 'delete', class: 'btn btn-danger', disabled: @photos.empty? %>
              <br><br>
              <div class="row">
                <div id="media-contents" class="col-lg-12">
                  <% if @photos.empty? %>
                    <h5 id="no-media">No Media Found</h5>
                  <% else %>
                    <% @photos.each do |media| %>
                      <div class="col-lg-4">
                        <div class="thumbnail">
                          <%= image_tag media.file_name.url %>
                          <div class="caption">
                            <p>
                              <%= check_box_tag 'photos[]', media.id %>
                            </p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-1">
            <%= link_to 'Delete All', delete_all_path, method: :delete, id: 'delete-all', class: 'btn btn-danger', disabled: @photos.empty? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
