<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-hand-o-up" aria-hidden="true"></i> 顶教程 </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <div class="form-group form-inline search-bar">
                <%= render :partial => "tutorials/search_bar" %>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
            <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li> <%= link_to("管理员后台", admin_tutorials_path) %> </li>
                    <% end %>
                    <li> <%= link_to("我发布的教程", account_tutorials_path) %></li>
                    <li> <%= link_to("我购买的教程", paid_tutorials_path, method: :get) %></li>
                    <li class="divider"> </li>
                    <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                  </ul>
                </li>
                <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="loginmodal-container">
           <h2>登录</h2>
           <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
             <div class="form-inputs">
               <%= f.input :email, :label => "注册邮箱", required: false, autofocus: true %>
               <%= f.input :password, :label => "密码", required: false %>
               <%= f.input :remember_me, :label => "记住我", as: :boolean if devise_mapping.rememberable? %>
             </div>
             <div class="form-actions">
               <%= f.button :submit, "登录" %>
             </div>
           <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="input">
          <%= f.input :email, :label => "注册邮箱", required: true, autofocus: true %>
          <%= f.input :password, :label => "注册密码", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, :label => "确认册密码", required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "注册" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</nav>
