<!DOCTYPE html>
<html>
  <head>
    <title>Toptorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="container-fluid">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to("个人信息", "#") %></li>
            <li class="list-group-item"><%= link_to("我的钱包", user_path(current_user)) %></li>
            <li class="list-group-item"><%= link_to("发布的教程", account_tutorials_path) %></li>
            <li class="list-group-item"><%= link_to("购买的教程", paid_tutorials_path, method: :get) %></li>
            <li class="list-group-item"><%= link_to("售出的教程", "#") %></li>
            <li class="list-group-item"><%= link_to("答疑订单", "#") %></li>
            <li class="list-group-item"><%= link_to("修改密码", "#") %></li>
          </ul>
        </div>
      </div>
    </div>

  <%= render "common/footer" %>
  </body>
</html>
