<!DOCTYPE html>
<html>
  <head>
    <title>Toptorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="id_wrapper">
      <div id="id_header">
        <div class="row">
          <div class="container-fluid">
            <%= render "common/flashes" %>
            <%= render "common/navbar" %>
          </div>
        </div>
      </div> <!-- /id_header -->
      <div id="id_content">
        <div class="container-fluid" style="margin-top:20px; margin-buttom:20px;">
          <div class="row">
            <div class="col-md-2">
              <div class="list-group" id="admin-menu">
                <%= link_to("全部教程", admin_tutorials_path, class:"list-group-item") %>
                <%= link_to("待审核教程", admin_tutorials_path(:order => "unchecked"), class:"list-group-item") %>
                <%= link_to("已上架教程", admin_tutorials_path(:order => "checked"), class:"list-group-item") %>
                <%= link_to("修改密码", "#", class:"list-group-item") %>
                <%= link_to(content_tag(:i, "退出登录", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete, class:"list-group-item") %>
              </div>
            </div>
            <div class="col-md-10">
              <div class="panel panel-default" id="admin-panel">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /id_content -->
      <div id="id_footer">
        <%= render "common/footer" %>
      </div> <!-- /id_footer -->
    </div> <!-- /id_wrapper -->
  </body>
</html>
