<!DOCTYPE html>
<html>
  <head>
    <title>Toptorial</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="id_wrapper">
      <div id="id_header">
        <div class="row">
          <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          </div>
        </div>
      </div> <!-- /id_header -->
      <div id="id_content">
        <%= yield %>
      </div> <!-- /id_content -->
      <div id="id_footer">
        <%= render "common/footer" %>
      </div> <!-- /id_footer -->
    </div> <!-- /id_wrapper -->
  </body>
</html>
